@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

.player {
  width: 800px; 
  height: 600px;
  box-shadow: -5px -5px 5px rgba(0,0,0,.4);
  display: flex;
  flex-direction: column;
}

.player .screen {
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
}

.player .bottom-controls {
  background-color: black;
  flex-grow: 0;
  flex-shrink: 0;
  
  display: flex;
  align-items: center;
}

.player .player-button {
  border: none;
  cursor: pointer;
  color: white;
  background: transparent;
  font-size: 20px;
  margin: 9px 3px;
}

.player .viewing-panel {
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
}

.player .viewing-panel {
  color: white;

  font-family: 'Roboto', sans-serif;
}

.player .progress {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  margin: 0px 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.player .progress-slider {
  background-color: #f8104d;
  border-radius: 5px;
  height: 5px;
}

.player .slider {
  height: 8px;
  width: 8px;
  background-color: #f8104d;
  border-radius: 50%;
  display: inline-block;

  border-color: white;
  border-width: 3px;
  border-style: solid;
  box-shadow: none;

  margin-top: -2px;
  margin-left: -4px;
  vertical-align: middle;
}
